header 
    .container
        .row 
            .logo 
                .logo-wrap 
                    a.logo-link(href="/")
                        img.logo-img(src="/img/logo-top-white.svg")
                .slogan спецтехника, сельхозтехника,
                    br
                    | строительная техника


            .addresses
                .address.address--top 
                    img.icon(src="/img/icon-geo.svg")
                    span.text Санкт-Петербург, ул. Софийская 2Б
                .address.address--bottom
                    img.icon(src="/img/icon-time.svg")
                    span.text пн-вс: 9:00 - 21:00

            .contacts
                a.phone(href="tel:+78122101845") +7 (812) 210-18-45
                .btn.btn--yellow Заказать звонок


nav.navigation
    .container
        .row
            ul.nav
                li.nav-item 
                    a.nav-link(href="#") Каталог техники
                li.nav-item 
                    a.nav-link(href="#") Бренды
                li.nav-item 
                    a.nav-link(href="#") О компании
                li.nav-item 
                    a.nav-link(href="#") Лизинг и кредит
                li.nav-item 
                    a.nav-link(href="#") Блог
                li.nav-item 
                    a.nav-link(href="#") Контакты
            
            .socials 
                a.soc-icon.soc-icon--vk(href="#")
                    img(src="/img/icon-vk.svg")
                a.soc-icon.soc-icon--yt(href="#")
                    img(src="/img/icon-youtube.svg")
                a.soc-icon.soc-icon--wa(href="#")
                    img(src="/img/icon-whatsapp.svg")
                a.soc-icon.soc-icon--inst(href="#")
                    img(src="/img/icon-instagram.svg")