section.about-home 
    .bg-image
        img(src="/img/about.png", alt="")

    .container 
        .about-text 
            .title О компании

            p Компания «Нева Мото» на данный момент продает тракторную технику, сельскохозяйственные и коммунальные машины, различное навесное оборудование и запчасти, занимается обслуживанием тракторов, специальной техники и сельхоз оборудования.
            p Мы предлагаем не только лучшие цены и максимальную модельную представленность. Но и готовы оказать полное информационное сопровождение по работе продаваемых нами машин. Каждая из них имеет полный набор сертификатов и гарантийных документов производителя. Что исключает возникновение проблем во время эксплуатации. Всегда в наличии полный ассортимент тракторов Lovol от 24 л/с до 200 л/с. Качественные материалы и комплектующие, полная диагностика и комплексная предпродажная подготовка всей техники.
            p 5 причин остановить свой выбор на нашем предприятии:
            ul 
                li всегда в наличии полный спектр запасных частей и расходных материалов;
                li гарантийное и постгарантийное обслуживания;
                li выгодные условия при покупке техники в лизинг от ведущих лизинговых компаний России;
                li гарантируем полную юридическую чистоту техники и возможность ее приобретения через государственные закупки с соблюдением действующего законодательства; 
                li широкие возможности использования и применения предлагаемой техники в деятельности вашего предприятия;

            p Обращаясь в нашу компанию, вы получите полное информационное сопровождение по любому интересующему вас вопросу. Даём гарантию на весь ассортимент тракторов.