section.catalog
    .container 
        .row 
            .page
                aside
                    .filter
                        .section-title Фильтр
                main
                    .section-title Тракторная техника

                    .products 
                        .product
                            .bg-product 
                            .gallery 
                                .swiper.js__product-catalog-preview 
                                    .swiper-wrapper 
                                        .swipper-slide  
                                            .inner(style="background-image:url(/img/category.png)")
                                    .pagination
                                .labels 
                                    .label.label__in-store В наличии
                                    .label.label__no-in-store Нет в наличии
                                    .label.label__hit Хит продаж
                                    .label.label__new Новинка
                            .product__title LOVOL FL936H, 2023
                            .advantages 
                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-power.svg", alt="Мощность")
                                    .value 145 л.с.
                                
                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-engine.svg", alt="Объем двигателя")
                                    .value 1.5 л.

                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-kpp.svg", alt="Коробка передач")
                                    .value Вариатор

                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-wheel.svg", alt="Привод")
                                    .value Передний
                            .additionals Доступное навесное оборудование: 
                                span.list ковш, отвал, погрузчик навесной, щеточное об-е

                            .action     
                                .icon 
                                    img(src="/img/icon-gift.svg", alt="Иконка акции")
                                .text Подарок при заказе до 25 февраля

                            .prices 
                                .old-price 1 365 000 Р
                                .price 1 365 000 P 

                            .controls 
                                a.btn.btn--gray(href="#") Подробнее
                                a.btn.btn--yellow(href="#") Предложение
                        .product
                            .bg-product 
                            .gallery 
                                .swiper.js__product-catalog-preview 
                                    .swiper-wrapper 
                                        .swipper-slide  
                                            .inner(style="background-image:url(/img/category.png)")
                                    .pagination
                                .labels 
                                    .label.label__in-store В наличии
                                    .label.label__no-in-store Нет в наличии
                                    .label.label__hit Хит продаж
                                    .label.label__new Новинка
                            .product__title LOVOL FL936H, 2023
                            .advantages 
                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-power.svg", alt="Мощность")
                                    .value 145 л.с.
                                
                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-engine.svg", alt="Объем двигателя")
                                    .value 1.5 л.

                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-kpp.svg", alt="Коробка передач")
                                    .value Вариатор

                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-wheel.svg", alt="Привод")
                                    .value Передний
                            .additionals Доступное навесное оборудование: 
                                span.list ковш, отвал, погрузчик навесной, щеточное об-е

                            .action     
                                .icon 
                                    img(src="/img/icon-gift.svg", alt="Иконка акции")
                                .text Подарок при заказе до 25 февраля

                            .prices 
                                .old-price 1 365 000 Р
                                .price 1 365 000 P 

                            .controls 
                                a.btn.btn--gray(href="#") Подробнее
                                a.btn.btn--yellow(href="#") Предложение
                        
                        .product
                            .bg-product 
                            .gallery 
                                .swiper.js__product-catalog-preview 
                                    .swiper-wrapper 
                                        .swipper-slide  
                                            .inner(style="background-image:url(/img/category.png)")
                                    .pagination
                                .labels 
                                    .label.label__in-store В наличии
                                    .label.label__no-in-store Нет в наличии
                                    .label.label__hit Хит продаж
                                    .label.label__new Новинка
                            .product__title LOVOL FL936H, 2023
                            .advantages 
                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-power.svg", alt="Мощность")
                                    .value 145 л.с.
                                
                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-engine.svg", alt="Объем двигателя")
                                    .value 1.5 л.

                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-kpp.svg", alt="Коробка передач")
                                    .value Вариатор

                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-wheel.svg", alt="Привод")
                                    .value Передний
                            .additionals Доступное навесное оборудование: 
                                span.list ковш, отвал, погрузчик навесной, щеточное об-е

                            .action     
                                .icon 
                                    img(src="/img/icon-gift.svg", alt="Иконка акции")
                                .text Подарок при заказе до 25 февраля

                            .prices 
                                .old-price 1 365 000 Р
                                .price 1 365 000 P 

                            .controls 
                                a.btn.btn--gray(href="#") Подробнее
                                a.btn.btn--yellow(href="#") Предложение
                        
                        .product
                            .bg-product 
                            .gallery 
                                .swiper.js__product-catalog-preview 
                                    .swiper-wrapper 
                                        .swipper-slide  
                                            .inner(style="background-image:url(/img/category.png)")
                                    .pagination
                                .labels 
                                    .label.label__in-store В наличии
                                    .label.label__no-in-store Нет в наличии
                                    .label.label__hit Хит продаж
                                    .label.label__new Новинка
                            .product__title LOVOL FL936H, 2023
                            .advantages 
                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-power.svg", alt="Мощность")
                                    .value 145 л.с.
                                
                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-engine.svg", alt="Объем двигателя")
                                    .value 1.5 л.

                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-kpp.svg", alt="Коробка передач")
                                    .value Вариатор

                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-wheel.svg", alt="Привод")
                                    .value Передний
                            .additionals Доступное навесное оборудование: 
                                span.list ковш, отвал, погрузчик навесной, щеточное об-е

                            .action     
                                .icon 
                                    img(src="/img/icon-gift.svg", alt="Иконка акции")
                                .text Подарок при заказе до 25 февраля

                            .prices 
                                .old-price 1 365 000 Р
                                .price 1 365 000 P 

                            .controls 
                                a.btn.btn--gray(href="#") Подробнее
                                a.btn.btn--yellow(href="#") Предложение
                        
                        .product
                            .bg-product 
                            .gallery 
                                .swiper.js__product-catalog-preview 
                                    .swiper-wrapper 
                                        .swipper-slide  
                                            .inner(style="background-image:url(/img/category.png)")
                                    .pagination
                                .labels 
                                    .label.label__in-store В наличии
                                    .label.label__no-in-store Нет в наличии
                                    .label.label__hit Хит продаж
                                    .label.label__new Новинка
                            .product__title LOVOL FL936H, 2023
                            .advantages 
                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-power.svg", alt="Мощность")
                                    .value 145 л.с.
                                
                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-engine.svg", alt="Объем двигателя")
                                    .value 1.5 л.

                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-kpp.svg", alt="Коробка передач")
                                    .value Вариатор

                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-wheel.svg", alt="Привод")
                                    .value Передний
                            .additionals Доступное навесное оборудование: 
                                span.list ковш, отвал, погрузчик навесной, щеточное об-е

                            .action     
                                .icon 
                                    img(src="/img/icon-gift.svg", alt="Иконка акции")
                                .text Подарок при заказе до 25 февраля

                            .prices 
                                .old-price 1 365 000 Р
                                .price 1 365 000 P 

                            .controls 
                                a.btn.btn--gray(href="#") Подробнее
                                a.btn.btn--yellow(href="#") Предложение
                        
                        .product
                            .bg-product 
                            .gallery 
                                .swiper.js__product-catalog-preview 
                                    .swiper-wrapper 
                                        .swipper-slide  
                                            .inner(style="background-image:url(/img/category.png)")
                                    .pagination
                                .labels 
                                    .label.label__in-store В наличии
                                    .label.label__no-in-store Нет в наличии
                                    .label.label__hit Хит продаж
                                    .label.label__new Новинка
                            .product__title LOVOL FL936H, 2023
                            .advantages 
                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-power.svg", alt="Мощность")
                                    .value 145 л.с.
                                
                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-engine.svg", alt="Объем двигателя")
                                    .value 1.5 л.

                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-kpp.svg", alt="Коробка передач")
                                    .value Вариатор

                                .advantge.advantge__power 
                                    .icon
                                        img(src="/img/advantage-icon-wheel.svg", alt="Привод")
                                    .value Передний
                            .additionals Доступное навесное оборудование: 
                                span.list ковш, отвал, погрузчик навесной, щеточное об-е

                            .action     
                                .icon 
                                    img(src="/img/icon-gift.svg", alt="Иконка акции")
                                .text Подарок при заказе до 25 февраля

                            .prices 
                                .old-price 1 365 000 Р
                                .price 1 365 000 P 

                            .controls 
                                a.btn.btn--gray(href="#") Подробнее
                                a.btn.btn--yellow(href="#") Предложение