section.categories 
    .container 
        a.category(href="#")
            .photo 
                img.photo-img(src="/img/category.png")
            .name Тракторная техника

        a.category(href="#")
            .photo 
                img.photo-img(src="/img/category.png")
            .name Экскаваторы-погрузчики

        a.category(href="#")
            .photo 
                img.photo-img(src="/img/category.png")
            .name Фронтальные погрузчики

        a.category(href="#")
            .photo 
                img.photo-img(src="/img/category.png")
            .name Навесное оборудование