section.online-show
    .top
        .container 
            .section-title Он-лайн показ техники
            .section-subtitle Оставьте свои контакты и наш менеджер с вами свяжется!

    .bottom 
        .container
            .phone
            .form 
                input.input--text.input--name(name="name")
                input.input--text.input--phone(name="phone")
                input.input--submit(type="submit")
                .agree Нажимая отправить вы принимаете 
                    a(href="#") политику обработки персональных данных.


footer 
    .container 
        a.logo(href="/")
            img(src="/img/logo-top-white.svg", alt="Логотип")
