section.promo-slider
    .slider.swiper.js__home-slider
        .slides.swiper-wrapper
            .slide.swiper-slide 
                .inner(style="background-image: url(/img/slide-0.jpg)") 
            .slide.swiper-slide 
                .inner(style="background-image: url(/img/slide-0.jpg)") 
            .slide.swiper-slide 
                .inner(style="background-image: url(/img/slide-0.jpg)") 

    .swiper-pagination



