section.news
    .container
        .section-title Новости
        
        .grid
            .news-item(style="background-image: url(/img/new-01.jpg)")
                .news-title Trade-IN
            .news-item(style="background-image: url(/img/new-01.jpg)")
                .news-title Тенденции
            .news-item(style="background-image: url(/img/new-01.jpg)")
                .news-title Финансирование