section.popular 
    .container 
        .section-title Популярные позиции

        .popular-nav
            .position 
                .photo
                    img.photo(src="/img/category.png")
                .name LOVOL FL936H
            
            .position 
                .photo
                    img.photo(src="/img/category.png")
                .name LOVOL FL936H

            .position.active
                .photo
                    img.photo(src="/img/category.png")
                .name LOVOL FL936H

            .position 
                .photo
                    img.photo(src="/img/category.png")
                .name LOVOL FL936H

            .position 
                .photo
                    img.photo(src="/img/category.png")
                .name LOVOL FL936H
        
        .popular-details
            .grid
                .col-7 
                    .tech-name Lovol FL936H
                    .characteristics
                        .row
                            .name Масса
                            .value 23.3 т
                        .row
                            .name Грузоподъемнсть
                            .value 6500 кг
                        .row
                            .name Объем ковша
                            .value 4.2 м3
                        .row
                            .name Высота выгрузки
                            .value 4710 мм

                    .advantages
                        .row
                            img.icon(src="/img/icon-warranty.svg")
                            span.text 23.3 т
                        .row
                            img.icon(src="/img/geoposition.svg")
                            span.text 6500 кг
                        .row
                            img.icon(src="/img/icon-portfel.svg")
                            span.text 4.2 м3
                        .row
                            img.icon(src="/img/icon-credit.svg")
                            span.text 4710 мм

                    a.bnt.bnt--red(href="tel:+78122101845")
                        img.icon-phone(src="/img/icon-phone.svg")
                        span.phome +7 812 210 18 45
                    
                    span.bnt.bnt--yellow(href="tel:+78122101845") Получить коммерческое предложение
                
                .col-5
                    .technics-gallery.swiper.js__gallery
                        .swiper-wrapper
                            .swiper-slide
                                .slide-inner 
                                    img(src="/img/category.png")
                            .swiper-slide
                                .slide-inner 
                                    img(src="/img/category.png")
                            .swiper-slide
                                .slide-inner 
                                    img(src="/img/category.png")
                            .swiper-slide
                                .slide-inner 
                                    img(src="/img/category.png")
                            .swiper-slide
                                .slide-inner 
                                    img(src="/img/category.png")
                    
                    .technics-gallery-nav.swiper.js__gallery_nav
                        .swiper-wrapper
                            .swiper-slide
                                .slide-inner
                                    img(src="/img/category.png")
                            .swiper-slide
                                .slide-inner
                                    img(src="/img/category.png")
                            .swiper-slide
                                .slide-inner
                                    img(src="/img/category.png")
                            .swiper-slide
                                .slide-inner
                                    img(src="/img/category.png")
                            .swiper-slide
                                .slide-inner
                                    img(src="/img/category.png")
                                