section.popular 
    .container 
        .section-title Популярные позиции

        .popular-nav
            .position 
                .photo
                    img.photo(src="/img/category.png")
                .name LOVOL FL936H
            
            .position 
                .photo
                    img.photo(src="/img/category.png")
                .name LOVOL FL936H

            .position.active
                .photo
                    img.photo(src="/img/category.png")
                .name LOVOL FL936H

            .position 
                .photo
                    img.photo(src="/img/category.png")
                .name LOVOL FL936H

            .position 
                .photo
                    img.photo(src="/img/category.png")
                .name LOVOL FL936H
        
        //- .popular-details 
        //-     .col-7
        //-         .tech-name Lovol FL936H

        //-         .characteristics

        //-     .col-5