header {
    background: $black;
    padding: 2rem 0 1.2rem 0;
    background-image: url(/img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .container {
        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .logo {
                max-width: 26rem;
                width: 100%;
                .logo-wrap {
                    width: 100%;
                    .logo-link {
                        display: block;
                        width: 100%;
                        height: 100%;
                        .logo-img {
                            width: 100%;
                            max-width: 100%;
                            height: auto;
                            max-height: 100%;
                        }
                    }
                }
                .slogan {
                    display: inline-block;
                    margin: -0.2rem 0 0 0;
                    color: $white;
                    font-size: 1.6rem;
                    font-weight: 300;
                }
            }

            .addresses {
                width: 100%;
                max-width: 42.5rem;
                .address {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    color: $white;
                    .icon {
                        width: 2.5rem;
                        height: 2.5rem;
                        display: block;
                        margin: 0 1.2rem 0 0;
                    }
                    .text {
                        font-weight: 300;
                        font-size: 1.8rem;
                        letter-spacing: 0.015rem;
                    }
                }
                .address--top {
                    margin: 0 0 2.6rem 0;
                }
                .address--bottom {
                    margin: 0 0 1rem 0;
                }
            }

            .contacts {
                max-width: 26rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .phone {
                    font-size: 2.6rem;
                    color: #ffffff;
                    text-decoration: none;
                    margin: -1rem 0 1rem 0;
                    transition: all 0.3s linear;

                    &:active,
                    &:hover,
                    &:focus {
                        color: $yellowHover;
                    }
                }
                .btn {
                }
            }
        }
    }
}

nav.navigation {
    border-bottom: 0.2rem dotted #afafaf;
    padding: 2.2rem 0 2rem 0;

    .container {
        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul.nav {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                flex: 1;

                .nav-item {
                    .nav-link {
                        text-decoration: none;
                        color: #333333;
                        font-size: 2.6rem;
                        letter-spacing: -0.175rem;
                        padding: 0 0 0.5rem 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        transition: all 0.3s linear;
                        border-bottom: 0.4rem solid transparent;

                        &:active,
                        &:focus,
                        &:hover {
                            border-bottom: 0.4rem solid $yellow;
                        }
                    }

                    &:first-child {
                        .nav-link::before {
                            display: block;
                            width: 2.4rem;
                            height: 2.4rem;
                            content: "";
                            position: relative;
                            left: 0;
                            margin: 0 2rem 0 0;
                            background-image: url(/img/icon-burger.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                        }
                    }
                }
            }

            .socials {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex: none;
                width: 14rem;
                margin: 0 0 0 10rem;

                .soc-icon {
                    margin: 0 0 0 1.4rem;

                    img {
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                    }
                    &:first-child {
                        margin: 0;
                    }
                    &.soc-icon--vk {
                    }
                    &.soc-icon--yt {
                    }
                    &.soc-icon--wa {
                    }
                    &.soc-icon--inst {
                    }
                }
            }
        }
    }
}
