.popular {
    padding: 7rem 0;
    .container {
        .section-title {
            margin: 0 0 4rem 0;
        }

        .popular-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .position {
                width: 17%;
                box-shadow: 0 0 1.2rem 0.2rem #b3afaf;
                padding: 1rem;
                border: 0.4rem solid transparent;
                transition: all 0.3s linear;
                cursor: pointer;
                filter: grayscale(1);

                .photo {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .photo {
                        width: 75%;
                    }
                }
                .name {
                    font-size: 1.4rem;
                    font-weight: 300;
                    text-align: center;
                    padding: auto 2rem;
                    line-height: 1.25;
                    min-height: 3.5rem;
                }
            }
            .position:hover,
            .position.active {
                border-color: $yellow;
                filter: grayscale(0);
            }
        }

        .popular-details {
            padding: 10rem 0;
            .grid {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                .col-7 {
                    -webkit-box-flex: 0;
                    -ms-flex: none;
                    flex: none;
                    width: 58.3333%;
                    padding: 0 2rem 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .tech-name {
                        font-size: 3.2rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 0.05rem;
                        padding: 0.4rem 0;
                        margin: 0 0 2.2rem 0;
                    }
                    .options {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: stretch;
                        -ms-flex-align: stretch;
                        align-items: stretch;
                        margin: 0 0 7.6rem 0;
                        width: 100%;

                        .characteristics {
                            width: 46.5%;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            -webkit-box-align: start;
                            -ms-flex-align: start;
                            align-items: flex-start;
                            -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                            justify-content: space-between;
                            padding: 3.6rem 2.6rem;
                            border-radius: 0.5rem;
                            background-color: #F1F1F1;
                            box-shadow: 0 0 1.2rem 0.2rem #b3afaf;
                            .row {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-size: 1.6rem;
                                font-weight: 300;
                                line-height: 1.5;
                                margin: 0 0 3.2rem 0;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                .name {
                                    text-transform: uppercase;
                                }
                                .value {
                                    font-weight: 500;
                                }
                            }
                        }

                        .advantages {
                            width: 46.5%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: space-between;
                            // padding: 3.6rem 1rem 4.6rem 2.9rem;
                            padding: 2.6rem 1rem 2.2rem 2.9rem;
                            border-radius: 0.5rem;
                            background-color: #f1f1f1aa;
                            box-shadow: 0 0 1.2rem 0.2rem #b3afaf;
                            .row {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                font-size: 1.6rem;
                                font-weight: 300;
                                line-height: 1.5;
                                margin: 0 0 3.2rem 0;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                .icon {
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 3.6rem;
                                    height: 3.6rem;
                                    margin: 0 1.6rem 0 0;

                                    .icon-img {
                                        width: auto;
                                        height: auto;
                                        max-width: 100%;
                                        max-height: 100%;
                                    }
                                }
                                .text {
                                    text-transform: uppercase;
                                    letter-spacing: -0.05rem;
                                }
                            }
                        }
                    }
                    .bnt {
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 1.2rem 2rem;
                        background: $red;
                        width: 46.5%;
                        border-radius: 0.6rem;
                        transition: all 0.3s linear;

                        &:hover {
                            background: $redHover;
                        }

                        .icon-phone {
                            width: 2em;
                            height: 2em;
                        }
                        .phone {
                            width: auto;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            color: #fff;
                            font-size: 1.8rem;
                            font-weight: 600;
                            text-decoration: none;
                            margin: 0 1.4rem 0 2rem;
                            letter-spacing: -0.05rem;
                        }
                    }

                    span.bnt {
                        cursor: pointer;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 1.3814rem 1rem;
                        background: $yellow;
                        width: 46.5%;
                        border-radius: 0.6rem;
                        font-size: 1.6rem;
                        transition: all 0.3s linear;
                        &:hover {
                            background: $yellowHover;
                        }
                    }
                }

                .col-5 {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    flex-direction: column;

                    .technics-gallery {
                        position: relative;
                        height: 36.5rem;
                        width: 49rem;
                        margin: 0 0.5rem 0 0;
                        box-shadow: 0 0 0.4rem 0.05rem #b3afaf;

                        .swiper-wrapper {
                            .swiper-slide {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 1rem;

                                .slide-inner {
                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }

                    .technics-gallery-nav {
                        height: 12rem;
                        width: 50rem;
                        margin: 1.4rem 0 0 0;
                        position: relative;
                        .swiper-wrapper {
                            .swiper-slide {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 0 0.5rem;
                                .slide-inner {
                                    padding: 0.5rem;
                                    box-shadow: 0 0 0.4rem 0.05rem #b3afaf;

                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
