$white: #ffffff;
$yellow: #fad201;
$footerTop: #D9A01C;
$yellowHover: #fae318;
$red: #ff2e2e;
$redHover: #ff6161;
$yellowDark: #d9a01c;
$black: #2d2d2d;
$gray: #454545;
$text: #333333;
$light: #D9D9D9;